/* Reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*:before{
    box-sizing: inherit;
}
/*
1. vi tri
2. kich thuoc
3. mau sac
4. kieu dang
note: tu ngoai vao trong
        tu tren xuong duoi
        tong quan --> chi tiet

*/
html{
    font-family:Arial, Helvetica, sans-serif;
}
body{
    
}
#main{
    
    width: 100%;
}
#header{
    position: fixed;
    height: 46px;
    background-color: #000;
    top: 0;
    left: 0;
    right: 0;
}
#nav, .subnav{
    list-style-type: none;
}
#nav>li{
    display: block;
    float: left;
}
#nav li:hover .subnav{
    display: block;
}

#nav > li > a{
    
    color:#fff;
    text-transform: uppercase;

}
#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding:0 24px;
    display: block;
}
#nav >li:hover> a,
#nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
}
#nav .subnav{
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3); 
    min-width: 160px;
}
#nav .subnav a{
    color: #000;
    height: 38px;
    padding:8px 16px;
    line-height: 22px;
    box-sizing: border-box;
}
#nav .fa-magnifying-glass:before{
    color: #fff;
    
}
#nav .fa-magnifying-glass{
    background-color: #000;
    height: 46px;
    width: 62px;
    padding: 15px 24px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 0;
}
#nav .fa-magnifying-glass:hover{
    background-color: red;
    cursor: pointer;
}

#slider{
    
    margin-top: 46px;
}
#slider .text{
    font-family: sans-serif;
    position: absolute;
    bottom: 0;
    color: #fff;
    left: 50%;
    transform: translate(-50%,0%);
    padding: 0 16px;
    padding-top: 32px;
    padding-bottom: 80px;
    text-align: center;
}
#slider h3{
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#silder .text b{
    font-weight: bolder;
}

#content{
    background-color: #ccc;
    height: 1000px;
}
#footer img{
    width: 100%;
    height: 4000px;
}





