/* Reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*
1. vi tri
2. kich thuoc
3. mau sac
4. kieu dang
note: tu ngoai vao trong
        tu tren xuong duoi
        tong quan --> chi tiet

*/
html{
    font-family:Arial, Helvetica, sans-serif;
}
#main{

}
#header{
    height: 46px;
    background-color: #000;;
}
#nav, .subnav{
    list-style-type: none;
}
#nav>li{
    display: block;
    float: left;
}
#nav li:hover .subnav{
    display: block;
}

#nav > li > a{
    color:#fff;
    text-transform: uppercase;
}
#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding:0 24px;
    display: block;
}
#nav >li:hover> a,
#nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
}
#nav .subnav{
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3); 
    min-width: 160px;
}
#nav .subnav a{
    color: #000;
    height: 38px;
    padding:8px 16px;
    line-height: 22px;
    box-sizing: border-box;
}

#slider{
    
}
#content{

}
#footer{

}





